<div class="post container">

    <div class="post-header-section">
        <h1>{{ .Title }}</h1>
        <small role="doc-subtitle">{{ .Description }}</small>
        <p class="post-date">
            {{ dateFormat "January 2, 2006" .Date }}
        </p>

        <ul class="post-tags">
        {{ range .Params.tags }}
            <li class="post-tag"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
    </div>

    <div class="post-content" id="post-content-id">
        <p>
            {{ .Content }}
        </p>

    </div>

    <br>
    <br>

<script src="https://utteranc.es/client.js"
        repo="javabullshit/comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<script type="text/javascript">
	addaTarget("post-content-id");
</script>
</div>

